<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  
  <!-- 로컬 CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  
  <!-- JavaScript -->
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
  <script src="/js/axios.min.js"></script>
  <script src="/js/datepicker.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>
    <!-- 네비게이션 -->
  <nav id="booking-nav">
    <div>
      <a href="/preview">Home</a>
    </div>
  </nav>
  <main>
    {{{body}}}
  </main>
  <footer>
    <p>© 2024 레스토랑 예약 시스템</p>
  </footer>
</body>
</html>
