<section id="preview-section" class="text-center">
  <div class="container" id="preview-wrapper">
    <h1><span>Ena's Kitchen</span><br></h1>
    <p id="subtitle-preview">당신의 특별한 순간을 위한 완벽한 공간</p>

    <div id="buttons-wrapper">
      <a id="user-btn" class="my-button" href="/booking" style="margin-top: 20px;">지금 예약하기</a>
      <a id="user-btn" class="my-button" href="/auth/login" style="margin-top: 20px;">관리자 로그인</a>
    </div>
  </div>
</section>
