<div class="btn-container text-right">
  <a href="/auth/private">예약 페이지</a>
  <a class="logout-button" href="/auth/logout">로그아웃</a>
</div>

<section id="settings-container" class="container">


  <div class="row">
    <div class="col-sm-6">
      <!-- SETTINGS -->
      {{#each config}}
      <form action="/admin/config" method="POST">
        <h2>설정:</h2>
        <p style="width: 70%">날짜별 이용 가능한 시간대와 좌석을 정할 수 있습니다.</p>
        <span><strong>최대 좌석 수</strong></span><input id="maxSeat" type="number" name="maxSeat"
          value={{maxSeat}} required>
        <span><strong>1st Time</strong></span><input id="first-time-slot" type="number" name="Slot1"
          value={{Slot1}} required>
        <span><strong>2nd Time</strong></span><input id="second-time-slot" type="number" name="Slot2"
          value={{Slot2}} required>
        <button class="btn btn-primary">확인</button>
      </form>
      {{/each}}
    </div>
    <div id="unavailable-dates-section" class="col-sm-6">
      <!-- UNAVAILABLE DATES -->
      <h2>이용 가능한 날짜</h2>

      <ul id="unavailable-dates-container">

      </ul>

      <form action="/admin/settings/unavailable-dates/edit" method="POST">
        <input type="text" name="newUnavailableDate" placeholder="일-월-년">
        <button class="btn btn-success">날짜 추가하기</button>
      </form>


      <form action="/admin/settings/unavailable-dates/delete" method="POST">
        <input type="text" name="deleteUnavailableDate" placeholder="일-월-년">
        <button class="btn btn-danger">날짜 삭제하기</button>
      </form>
    </div>
  </div>
</section>
