<section id="preview-section" class="text-center">
  <a class="my-button" id="contact-button" href="mailto: woojina0323@gmail.com">문의하기</a>
  <div class="container" id="preview-wrapper">
    <h1><span>RESTAURANT RESERVATION</span><br></h1>
    <p id="subtitle-preview">지금 바로 레스토랑을 예약하세요</p>
  
   <div id="buttons-wrapper">
      <a id="user-btn" class="my-button" href="/">예약하기</a>
      <a id="admin-btn" class="my-button" href="/auth/login">예약관리하기(관리자 전용)</a>
    </div>
  </div>
</section>